[submodule "Contents/mods/DelranDragToPlace/42/media/lua/shared/DelranDragToPlace/DelranLib"]
	path = Contents/mods/DelranDragToPlace/42/media/lua/shared/DelranDragToPlace/DelranLib
	url = https://github.com/dot-tb/zomboid-delran-lib
